<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Instantgram | Live search on Instagram</title>
		<meta name="description" content="Fast and easy search for Instagram photos!">
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-controller="instagramCtrl">
		<nav class="navbar navbar-default navbar-fixed-top" ng-show="showNav=true">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Instantgram</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" data-ng-model="searchStr" ng-model-options="{debounce: 1000}" class="form-control searchInputTop" placeholder="Search">
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="main-text" ng-show="pics.length == 0">
				<h1>Search Instagram Photos!</h1>
				<p>Just enter your keyword and start searching</br>
				You can scroll down to see more pictures</p>
				<form class="navbar-form" role="search">
					<div class="form-group">
						<input type="text" data-ng-model="searchStr" ng-model-options="{debounce: 1000}" class="form-control searchInputCenter" placeholder="Search">
					</div>
				</form>
			</div>
			<div class="row">
				<div infinite-scroll="addMoreItems()" infinite-scroll-distance='0'>
					<div ng-repeat="p in pics" class="col-md-3">
						<a href="{{p.link}}" target="_blank">
							<img ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}">
						</a>
						<span class="glyphicon glyphicon-heart"> {{p.likes.count}}</span>
					</div>
					<div style='clear: both;'></div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
		<script type='text/javascript' src='js/ng-infinite-scroll.min.js'></script>
		<script src="js/main.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68229177-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>